@font-face {
  font-family: "Ubuntu";
  src: url(../Fonts/Ubuntu-Regular.woff2), url(../Fonts/Ubuntu-Regular.woff);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Ubuntu";
  src: url(../Fonts/Ubuntu-Bold.woff2), url(../Fonts/Ubuntu-Bold.woff);
  font-weight: 700;
  font-style: normal;
}
:root {
  --primary: hsl(12, 100%, 59%);
  --white: hsl(0, 0%, 100%);
  --white06: hsla(0, 0%, 100%, 0.6);
  --white02: hsla(0, 0%, 100%, 0.2);
  --white012: hsla(0, 0%, 100%, 0.12);
  --grey10_29: hsl(227, 10%, 29%);
  --grey19_15: hsl(227, 19%, 15%);
  --grey3_49: hsl(225, 3%, 49%);
  --grey6_62: hsl(225, 6%, 62%);
  --grey9_85: hsl(208, 9%, 85%);
  --grey11_96: hsl(220, 11%, 96%);
  --grey18_91: hsl(218, 18%, 91%);
  --width_container: 1230px;
  --width-primary: 705px;
  --width-secondary: 495px;
  --width-input: 260px;
  --width-input-long: 415px;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: var(--primary);
}

h3,
h2,
p {
  margin: 0px;
  padding: 0px;
}

fieldset {
  margin: 0px;
  padding: 0px;
  border: none;
}

.button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  background-color: var(--primary);
  border: none;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  font-size: 16px;
  box-sizing: border-box;
  font-weight: 700;
}
.button:hover {
  outline: solid;
  outline-offset: 1px;
  outline-color: var(--primary);
}
.button:active {
  outline: none;
  box-shadow: inset 0px 0px 6px 2px hsla(227, 19%, 15%, 0.5);
}
.button_transparent {
  background-color: hsla(var(--primary), 0);
  border: 1px solid var(--white);
}
.button_invert {
  background-color: hsla(0, 0%, 0%, 0);
  border: 1px solid var(--primary);
  color: var(--primary);
}

.button-arrow {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  width: 48px;
  height: 48px;
}
.button-arrow svg {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: var(--grey10_29);
}
.button-arrow_right svg {
  transform: translate(-50%, -50%) rotateZ(180deg);
}
.button-arrow:hover {
  background-color: hsla(12, 100%, 59%, 0.5);
}
.button-arrow:active {
  background-color: var(--primary);
}
.button-arrow:active svg {
  fill: var(--white);
}
.button-arrow_small {
  width: 24px;
  height: 24px;
}

.h2-header {
  font-size: 46px;
  font-weight: 700;
  line-height: 59.8px;
  color: var(--grey19_15);
}

.h3-header {
  text-align: center;
  font-size: 28px;
  line-height: 42px;
  color: var(--grey19_15);
}

.container-1230 {
  width: var(--width_container);
  margin: 0px auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: relative;
}

.projects {
  display: flex;
  flex-flow: row nowrap;
}
.projects__icon {
  width: 48px;
  height: 48px;
  fill: var(--primary);
}
.projects__item {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 0px 4px 4px -4px hsla(227, 19%, 15%, 0.03), 0px 12px 10px -6px hsla(229, 6%, 63%, 0.04), 0px 30px 24px -10px hsla(229, 6%, 63%, 0.05), 0px 80px 80px -20px hsla(229, 6%, 63%, 0.08);
}
.projects__item span {
  font-weight: 700;
  line-height: 25.6px;
  color: var(--grey6_62);
}
.projects__item_active {
  background-color: var(--primary);
  box-shadow: 0px 4px 4px -4px hsla(227, 19%, 15%, 0.05), 0px 12px 10px -6px hsla(12, 100%, 59%, 0.08), 0px 26px 24px -10px hsla(12, 100%, 59%, 0.1), 0px 60px 80px -20px hsla(12, 100%, 59%, 0.16);
}
.projects__item_active svg {
  fill: var(--white);
}
.projects__item_active span {
  color: var(--white);
}

.form {
  background-color: var(--white);
  border-radius: 4px;
  box-shadow: 0px 4px 4px -4px hsla(227, 19%, 15%, 0.03), 0px 12px 10px -6px hsla(229, 6%, 63%, 0.04), 0px 30px 24px -10px hsla(229, 6%, 63%, 0.05), 0px 80px 80px -20px hsla(229, 6%, 63%, 0.08);
}
.form__container {
  display: flex;
}
.form__item, .form__input-textarea {
  font-size: 14px;
  line-height: 21px;
  color: var(--grey10_29);
}
.form__input-text, .form__input-textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline-color: var(--primary);
  box-sizing: border-box;
  font-size: 14px;
  line-height: 21px;
  color: var(--grey6_62);
  background-color: var(--grey11_96);
  border: 1px solid var(--grey9_85);
  border-radius: 4px;
  padding: 10px 12px 11px 16px;
}
.form__input-text:hover, .form__input-textarea:hover {
  background-color: hsla(12, 100%, 59%, 0.16);
}
.form__input-text:focus, .form__input-textarea:focus {
  background-color: var(--white);
  color: var(--grey3_49);
}
.form__input-textarea {
  font-family: "Ubuntu", sans-serif;
  padding: 11px 16px;
}
.form .check, .form .form__checkbox:checked::before, .form .form__checkbox:active::before, .form .form__checkbox:hover::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 10px;
  height: 8px;
  background-image: url("../Images/Check.svg");
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 3px;
  border: 1px solid var(--primary);
  margin: 0px;
  box-sizing: border-box;
  transition: all 0.5s;
}
.form__checkbox:hover::before {
  transform: translate(-50%, -50%) scale(1.25);
  filter: invert(46%) sepia(54%) saturate(3469%) hue-rotate(341deg) brightness(102%) contrast(101%);
}
.form__checkbox:active {
  background-color: hsla(12, 100%, 59%, 0.5);
  border-width: 2px;
}
.form__checkbox:active::before {
  transform: translate(-50%, -50%) scale(0.66) !important;
}
.form__checkbox:checked {
  background-color: var(--primary);
  border-width: 1px;
}
.form__checkbox:checked:hover::before {
  transform: translate(-50%, -50%) scale(1.25);
  filter: none;
}
.form__checkbox:checked:active {
  background-color: hsla(12, 100%, 59%, 0.5);
  border-width: 2px;
}
.form__checkbox:checked:active::before {
  transform: translate(-50%, -50%) scale(0.66) !important;
}
.form__submit {
  padding: 0px 32px;
  font-size: 14px;
  line-height: 44px;
}

.logo path {
  fill: var(--grey19_15);
}
.logo__x path {
  fill: var(--primary);
}
.logo_invert path {
  fill: var(--white);
}
.logo_invert .logo__x path {
  fill: var(--primary);
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
}
.header__container {
  width: var(--width_container);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}
.header__logo {
  width: 130px;
  height: 22px;
  margin-right: 60px;
}
.header__list {
  display: flex;
  flex-flow: row nowrap;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.header__link {
  color: var(--grey10_29);
  font-weight: 700;
  line-height: 25.6px;
}
.header__contacts {
  margin-left: 172px;
}

.contacts {
  display: flex;
  flex-flow: row nowrap;
  -moz-column-gap: 36px;
       column-gap: 36px;
  padding: 2px 0px;
}
.contacts__item {
  display: flex;
  flex-flow: row nowrap;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.contacts__icon {
  width: 40px;
  height: 40px;
  margin-top: 4px;
}
.contacts__info {
  display: flex;
  flex-flow: column nowrap;
}
.contacts__text-header {
  font-size: 14px;
  font-weight: 700;
  color: var(--grey10_29);
  line-height: 21px;
}
.contacts__text {
  font-size: 18px;
  color: hsl(227, 19%, 15%);
  line-height: 27px;
}

.slider {
  width: 100%;
  height: 988px;
  position: relative;
}
.slider__list {
  width: 100%;
  background-color: var(--grey19_15);
  overflow-x: hidden;
  height: inherit;
  display: flex;
  flex-flow: row nowrap;
  gap: 0px;
  scroll-behavior: smooth;
}
.slider__item {
  flex-shrink: 0;
  width: inherit;
  margin: 0px;
  padding: 0px;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider__item-background {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider__content {
  position: absolute;
  left: 345px;
  top: 220px;
}
.slider__text-header {
  font-size: 72px;
  font-weight: 700;
  line-height: 93.6px;
  margin: 0px;
  padding: 0px;
  color: var(--white);
}
.slider__text-header span {
  color: var(--primary);
}
.slider__text {
  font-size: 20px;
  line-height: 30px;
  color: var(--white);
  margin: 24px 0px 60px;
}
.slider__button {
  margin-right: 24px;
  font-size: 16px;
  font-weight: 700;
  line-height: 52px;
  padding: 0px 40px;
}
.slider__numeration {
  position: absolute;
  width: 724px;
  left: 345px;
  bottom: 120px;
  display: flex;
  flex-flow: row nowrap;
  -moz-column-gap: 4px;
       column-gap: 4px;
}
.slider__number {
  border-bottom: 2px solid var(--white);
  color: var(--white);
  font-size: 28px;
  font-weight: 700;
  line-height: 42px;
  width: 178px;
  height: 54px;
  opacity: 0.6;
}
.slider__number_current {
  opacity: 1;
}
.slider__controller {
  position: absolute;
  top: 50%;
  left: 32px;
  background-color: var(--white);
  transform: translateY(-50%);
  opacity: 0.5;
}
.slider__controller:hover {
  opacity: 0.75;
  background-color: var(--white);
}
.slider__controller:hover svg {
  transform: translate(-50%, -50%) scale(1.25);
}
.slider__controller:active {
  opacity: 1;
}
.slider__controller:active svg {
  transform: translate(-50%, -50%);
  fill: var(--grey10_29);
}
.slider__controller_right {
  left: auto;
  right: 32px;
}
.slider__controller_right:hover {
  opacity: 0.75;
  background-color: var(--white);
}
.slider__controller_right:hover svg {
  transform: translate(-50%, -50%) rotateZ(180deg) scale(1.25);
}
.slider__controller_right:active {
  opacity: 1;
}
.slider__controller_right:active svg {
  fill: var(--grey10_29);
  transform: translate(-50%, -50%) rotateZ(180deg);
}

.bureau-cores {
  width: 100%;
  height: 1600px;
  padding-top: 120px;
  box-sizing: border-box;
}
.bureau-cores__text-header {
  margin: 0px 0px 24px;
}
.bureau-cores__text {
  font-size: 18px;
  line-height: 27px;
  color: var(--grey3_49);
  margin: 0px 0px 60px;
}
.bureau-cores__video {
  width: inherit;
  height: 500px;
  margin: 0px 0px 180px;
}
.bureau-cores__list {
  width: inherit;
  display: flex;
  flex-flow: row nowrap;
  -moz-column-gap: 94px;
       column-gap: 94px;
  margin: 0px 0px 120px;
}
.bureau-cores__item {
  text-align: center;
}
.bureau-cores__hr {
  width: 2px;
  height: inherit;
  background: radial-gradient(circle at 50% 50%, hsl(230, 4%, 86%) 0%, hsla(230, 4%, 86%, 0.5) 50%, hsla(220, 4%, 86%, 0) 100%);
}
.bureau-cores__text-core-header {
  display: block;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: var(--grey19_15);
  margin-bottom: 8px;
}
.bureau-cores__text-core {
  line-height: 25.6px;
  color: var(--grey3_49);
}
.bureau-cores__icon {
  width: 48px;
  height: 48px;
  fill: var(--primary);
  margin-bottom: 24px;
}
.bureau-cores__contact-us {
  position: relative;
  z-index: 1;
  width: inherit;
  height: 243px;
}
.bureau-cores__form-text-header {
  margin: 48px 0px 32px;
}
.bureau-cores__form-container {
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-end;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.bureau-cores__form-input-text {
  width: var(--width-input);
}
.bureau-cores__form-input-text_long {
  width: var(--width-input-long);
}

.services {
  width: 100%;
  height: 880px;
}
.services__background {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.services__container {
  padding: 212px 0px 0px;
}
.services__text-header {
  margin-bottom: 24px;
}
.services__text {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 60px;
}
.services__list {
  width: inherit;
  height: 285px;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin-bottom: 80px;
}
.services__icon {
  width: 52px;
  height: 52px;
  fill: var(--primary);
  transition: fill 0.33s;
}
.services__bg-image {
  position: absolute;
  width: inherit;
  height: auto;
  opacity: 0;
  transition: opacity 0.66s;
}
.services__item {
  width: 285px;
  height: inherit;
  row-gap: 24px;
  cursor: pointer;
}
.services__item span {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: var(--grey19_15);
  transition: color 0.33s;
}
.services__item:hover {
  box-shadow: 0px 4px 4px -4px hsla(227, 19%, 15%, 0.05), 0px 12px 10px -6px hsla(227, 19%, 15%, 0.08), 0px 26px 24px -10px hsla(227, 19%, 15%, 0.1), 0px 60px 80px -20px hsla(227, 19%, 15%, 0.16);
}
.services__item:hover::after {
  content: "";
  width: inherit;
  height: inherit;
  position: absolute;
  display: inline-block;
  background-color: var(--grey19_15);
  opacity: 0.6;
}
.services__item:hover img {
  opacity: 1;
}
.services__item:hover svg {
  z-index: 1;
  fill: var(--white);
}
.services__item:hover span {
  z-index: 1;
  color: var(--white);
}

.more {
  display: flex;
  flex-flow: row nowrap;
  -moz-column-gap: 40px;
       column-gap: 40px;
  align-items: center;
}
.more__btn {
  padding: 0px 40px;
  line-height: 52px;
}

.portfolio {
  padding: 120px 0px 0px;
  height: 992px;
  box-sizing: border-box;
}
.portfolio__header-container {
  width: inherit;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 60px;
}
.portfolio__list {
  width: inherit;
  display: flex;
  flex-flow: row nowrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin-bottom: 80px;
}
.portfolio__label {
  width: inherit;
  background-color: var(--white);
  position: absolute;
  bottom: 0px;
  height: 95px;
  box-sizing: border-box;
  padding: 16px 0px 0px;
  text-align: center;
  transition: all 0.66s ease-in;
}
.portfolio__text-header {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: var(--grey19_15);
}
.portfolio__text {
  font-size: 14px;
  line-height: 21px;
  color: var(--grey3_49);
}
.portfolio__view-button {
  font-size: 14px;
  line-height: 44px;
  padding: 0px 32px;
  margin-top: 24px;
  text-align: center;
  visibility: hidden;
}
.portfolio__item {
  position: relative;
  width: 390px;
  height: 440px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px -4px hsla(227, 19%, 15%, 0.03), 0px 12px 10px -6px hsla(229, 6%, 63%, 0.04), 0px 30px 24px -10px hsla(229, 6%, 63%, 0.05), 0px 80px 80px -20px hsla(229, 6%, 63%, 0.08);
}
.portfolio__item_active div {
  height: 163px;
}
.portfolio__item_active button {
  animation: expandPortfolioItem 0.66s ease-in;
  visibility: visible;
}

.partners {
  background-color: hsl(220, 11%, 96%);
  height: 934px;
  box-sizing: border-box;
  padding: 80px 0px 0px;
}
.partners__text-header {
  margin-bottom: 60px;
}
.partners__logos-list {
  width: inherit;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 170px;
}
.partners__clients {
  width: inherit;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.partners__comments-container {
  width: 600px;
  position: relative;
  overflow-x: hidden;
  align-self: flex-start;
}
.partners__clients-header {
  margin-bottom: 60px;
}
.partners__comments-list {
  width: inherit;
  display: flex;
  flex-flow: row nowrap;
  overflow-x: hidden;
}
.partners__comments-item {
  width: 100%;
  flex-shrink: 0;
}
.partners__ava {
  border-radius: 50%;
  margin-bottom: 24px;
}
.partners__commentary {
  line-height: 25.6px;
  color: var(--grey10_29);
  margin-bottom: 24px;
}
.partners__person {
  font-weight: 700;
  line-height: 25.6px;
  color: var(--grey19_15);
}
.partners__person-position {
  font-size: 14px;
  line-height: 21px;
  color: var(--grey3_49);
}
.partners__controller {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  -moz-column-gap: 24px;
       column-gap: 24px;
  bottom: 0px;
  right: 0px;
}
.partners__photo {
  width: var(--width-secondary);
  border-radius: 4px;
}

.facts {
  height: 1581px;
  position: relative;
  overflow: hidden;
  padding: 180px 0px 0px;
  box-sizing: border-box;
}
.facts__background {
  position: absolute;
  top: -345px;
  width: 571px;
  height: 1369px;
}
.facts__text-header {
  margin-bottom: 60px;
}
.facts__diagrams-list {
  width: inherit;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  -moz-column-gap: 48px;
       column-gap: 48px;
  margin-bottom: 180px;
}
.facts__diagrams-item {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.facts__diagram {
  margin-bottom: 20px;
}
.facts__diagram-text {
  font-size: 14px;
  line-height: 21px;
  color: var(--grey19_15);
}
.facts__news {
  width: inherit;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 80px;
}
.facts__news-item {
  display: inline-block;
  width: var(--width-secondary);
  border-radius: 4px;
  box-shadow: 0px 4px 4px -4px hsla(227, 19%, 15%, 0.03), 0px 12px 10px -6px hsla(229, 6%, 63%, 0.04), 0px 30px 24px -10px hsla(229, 6%, 63%, 0.05), 0px 80px 80px -20px hsla(229, 6%, 63%, 0.08);
}
.facts__news-item_big {
  width: var(--width-primary);
}
.facts__news-img {
  width: inherit;
}
.facts__news-label {
  width: inherit;
  box-sizing: border-box;
  padding: 24px;
}
.facts__news-label-header {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  color: var(--grey19_15);
  margin-bottom: 12px;
}
.facts__news-meta-data {
  font-size: 14px;
  line-height: 21px;
  color: var(--grey3_49);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.facts .v-line {
  border-left: 1px solid var(--grey3_49);
  height: 12px;
}
.facts__news-comments-logo {
  width: 16px;
  height: 16px;
  fill: var(--grey3_49);
  vertical-align: middle;
}
.facts__news-text {
  line-height: 25.6px;
  color: var(--grey10_29);
  margin-top: 16px;
}
.facts__news-small-container {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 30px;
}

.request {
  height: 826px;
  position: relative;
}
.request__background {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.request__container {
  align-items: flex-end;
  padding: 80px 0px 0px;
}
.request__form {
  width: var(--width-secondary);
  border: 1px solid var(--grey18_91);
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.request__form-text-header {
  margin: 48px 0px 24px;
}
.request__form-container {
  width: var(--width-input-long);
  flex-flow: column nowrap;
  align-items: center;
  row-gap: 20px;
  margin: 0px auto 48px;
}
.request__form-item {
  width: inherit;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 8px;
}
.request__checkbox-container {
  display: flex;
  flex-flow: row nowrap;
}
.request__checkbox-container input {
  flex-shrink: 0;
  margin-right: 12px;
}
.request__checkbox-container label {
  cursor: pointer;
}

.footer {
  height: 566px;
  background-color: var(--grey19_15);
  box-sizing: border-box;
  padding: 80px 0px;
}
.footer__general-container {
  width: inherit;
  display: flex;
  justify-content: space-between;
  margin-bottom: 49px;
}
.footer__general {
  width: var(--width-secondary);
}
.footer__general-header {
  margin-bottom: 24px;
}
.footer__logo {
  width: 142px;
  height: 24px;
}
.footer__socials-list {
  vertical-align: bottom;
  display: inline-flex;
  flex-flow: row nowrap;
  -moz-column-gap: 16px;
       column-gap: 16px;
  margin-left: 60px;
}
.footer__socials-icon {
  width: 24px;
  height: 24px;
  fill: var(--white06);
}
.footer__general-text {
  font-size: 14px;
  line-height: 21px;
  color: var(--white06);
}
.footer__form {
  background-color: transparent;
  width: var(--width-secondary);
  box-shadow: none;
}
.footer__form-text-header {
  color: var(--white);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 24px;
}
.footer__form-container {
  flex-flow: row nowrap;
  align-items: center;
  width: inherit;
  margin-bottom: 16px;
}
.footer__form-input-text {
  background-color: var(--white012);
  color: var(--white06);
  border: 1px solid var(--white02);
  width: 364px;
}
.footer__form-submit {
  border-radius: 0px 4px 4px 0px;
  padding: 0px 24px;
}
.footer__form-disclaimer {
  font-size: 12px;
  line-height: 18px;
  color: var(--white06);
}
.footer__lists-container {
  width: inherit;
  display: flex;
  flex-flow: row nowrap;
  -moz-column-gap: 125px;
       column-gap: 125px;
  margin-bottom: 60px;
}
.footer__list-header {
  line-height: 24px;
  letter-spacing: 1px;
  color: var(--white);
  text-transform: uppercase;
}
.footer__list-links {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 4px;
}
.footer__list-item {
  color: var(--white06);
  line-height: 25.6px;
}
.footer__list-item-span {
  color: var(--white);
}
.footer__rights {
  width: inherit;
  color: var(--white);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
}
.footer__rights-text {
  vertical-align: middle;
  font-size: 12px;
  line-height: 18px;
}
.footer__rights-heart-text {
  width: 16px;
  height: 16px;
  fill: var(--primary);
  vertical-align: middle;
}
.footer__go-to-top-text {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  margin-right: 16px;
  vertical-align: bottom;
}
.footer__go-to-top-button {
  padding: 8px;
  background-color: var(--primary);
  border-radius: 4px;
  vertical-align: bottom;
}
.footer__go-to-top-button svg {
  fill: var(--white);
}
.footer__go-to-top-button:active svg {
  fill: var(--grey19_15);
}

@keyframes expandPortfolioItem {
  0% {
    visibility: visible;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */