//Import local fonts
@font-face {
    font-family: "Ubuntu";
    src: url(../Fonts/Ubuntu-Regular.woff2),
        url(../Fonts/Ubuntu-Regular.woff);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Ubuntu";
    src: url(../Fonts/Ubuntu-Bold.woff2),
        url(../Fonts/Ubuntu-Bold.woff);
    font-weight: 700;
    font-style: normal;
}

//CSS variables
:root {
    //Colors
    --primary: hsl(12, 100%, 59%);
    --white: hsl(0, 0%, 100%);
    --white06: hsla(0, 0%, 100%, 0.6);
    --white02: hsla(0, 0%, 100%, 0.2);
    --white012: hsla(0, 0%, 100%, 0.12);
    --grey10_29: hsl(227, 10%, 29%);
    --grey19_15: hsl(227, 19%, 15%);
    --grey3_49: hsl(225, 3%, 49%);
    --grey6_62: hsl(225, 6%, 62%);
    --grey9_85: hsl(208, 9%, 85%);
    --grey11_96: hsl(220, 11%, 96%);
    --grey18_91: hsl(218, 18%, 91%);
    //Width/Height
    --width_container: 1230px;
    --width-primary: 705px;
    --width-secondary: 495px;
    --width-input: 260px;
    --width-input-long: 415px;
}
//General 
html,
body {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        color: var(--primary);
    }
}

h3,
h2,
p {
    margin: 0px;
    padding: 0px;
}

fieldset {
    margin: 0px;
    padding: 0px;
    border: none;
}

.button {
    appearance: none;
    cursor: pointer;
    background-color: var(--primary);
    border: none;
    border-radius: 4px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white);
    font-size: 16px;
    box-sizing: border-box;
    font-weight: 700;

    &:hover {
        outline: solid;
        outline-offset: 1px;
        outline-color: var(--primary);
    }

    &:active {
        outline: none;
        box-shadow: inset 0px 0px 6px 2px hsl(227, 19%, 15%, 0.5);
    }

    &_transparent {
        background-color: hsla(var(--primary), 0);
        border: 1px solid var(--white);

    }

    &_invert {
        background-color: hsla(0, 0%, 0%, 0);
        border: 1px solid var(--primary);
        color: var(--primary);
    }
}

.button-arrow {
    position: relative;
    appearance: none;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    width: 48px;
    height: 48px;

    & svg {
        width: 24px;
        height: 24px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        fill: var(--grey10_29);
    }

    &_right {

        & svg {
            transform: translate(-50%, -50%) rotateZ(180deg);
        }
    }

    &:hover {
        background-color: hsla(12, 100%, 59%, 0.5);
    }

    &:active {
        background-color: var(--primary);

        & svg {
            fill: var(--white);
        }
    }

    &_small {
        width: 24px;
        height: 24px;
    }
}

.h2-header {
    font-size: 46px;
    font-weight: 700;
    line-height: 59.8px;
    color: var(--grey19_15);
}

.h3-header {
    text-align: center;
    font-size: 28px;
    line-height: 42px;
    color: var(--grey19_15);
}

.container-1230 {
    width: var(--width_container);
    margin: 0px auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: relative;
}

.projects {
    display: flex;
    flex-flow: row nowrap;

    &__icon {
        width: 48px;
        height: 48px;
        fill: var(--primary);
    }

    &__item {
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        background-color: var(--white);
        border-radius: 4px;
        box-shadow: 0px 4px 4px -4px hsla(227, 19%, 15%, 0.03),
            0px 12px 10px -6px hsla(229, 6%, 63%, 0.04),
            0px 30px 24px -10px hsla(229, 6%, 63%, 0.05),
            0px 80px 80px -20px hsla(229, 6%, 63%, 0.08);

        & span {
            font-weight: 700;
            line-height: 25.6px;
            color: var(--grey6_62);
        }

        &_active {
            background-color: var(--primary);
            box-shadow: 0px 4px 4px -4px hsla(227, 19%, 15%, 0.05),
                0px 12px 10px -6px hsla(12, 100%, 59%, 0.08),
                0px 26px 24px -10px hsla(12, 100%, 59%, 0.1),
                0px 60px 80px -20px hsla(12, 100%, 59%, 0.16);


            & svg {
                fill: var(--white);
            }

            & span {
                color: var(--white);
            }
        }
    }
}

.form {
    background-color: var(--white);
    border-radius: 4px;
    box-shadow: 0px 4px 4px -4px hsla(227, 19%, 15%, 0.03),
        0px 12px 10px -6px hsla(229, 6%, 63%, 0.04),
        0px 30px 24px -10px hsla(229, 6%, 63%, 0.05),
        0px 80px 80px -20px hsla(229, 6%, 63%, 0.08);

    &__container {
        display: flex;
    }

    &__item {
        font-size: 14px;
        line-height: 21px;
        color: var(--grey10_29);
    }

    &__input-text {
        appearance: none;
        outline-color: var(--primary);
        box-sizing: border-box;
        font-size: 14px;
        line-height: 21px;
        color: var(--grey6_62);
        background-color: var(--grey11_96);
        border: 1px solid var(--grey9_85);
        border-radius: 4px;
        padding: 10px 12px 11px 16px;

        &:hover {
            background-color: hsla(12, 100%, 59%, 0.16);
        }

        &:focus {
            background-color: var(--white);
            color: var(--grey3_49);
        }
    }

    &__input-textarea {
        font-family: "Ubuntu", sans-serif;
        @extend .form__input-text;
        @extend .form__item;
        padding: 11px 16px;
    }

    .check {
        content: '';
        position: absolute;
        display: inline-block;
        width: 10px;
        height: 8px;
        background-image: url("../Images/Check.svg");
        background-repeat: no-repeat;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__checkbox {
        appearance: none;
        cursor: pointer;
        position: relative;
        width: 16px;
        height: 16px;
        border-radius: 3px;
        border: 1px solid var(--primary);
        margin: 0px;
        box-sizing: border-box;
        transition: all 0.5s;

        &:hover {

            &::before {
                @extend .check;
                transform: translate(-50%, -50%) scale(1.25);
                filter: invert(46%) sepia(54%) saturate(3469%) hue-rotate(341deg) brightness(102%) contrast(101%);
            }
        }

        &:active {
            background-color: hsla(12, 100%, 59%, 0.5);
            border-width: 2px;

            &::before {
                @extend .check;
                transform: translate(-50%, -50%) scale(0.66) !important;
            }
        }

        &:checked {
            background-color: var(--primary);
            border-width: 1px;

            &::before {
                @extend .check;
            }

            &:hover {

                &::before {
                    @extend .check;
                    transform: translate(-50%, -50%) scale(1.25);
                    filter: none;
                }
            }

            &:active {
                background-color: hsla(12, 100%, 59%, 0.5);
                border-width: 2px;

                &::before {
                    @extend .check;
                    transform: translate(-50%, -50%) scale(0.66) !important;
                }
            }
        }
    }

    &__submit {
        padding: 0px 32px;
        font-size: 14px;
        line-height: 44px;
    }
}

.logo {

    & path {
        fill: var(--grey19_15);
    }

    &__x {

        & path {
            fill: var(--primary);
        }
    }

    &_invert {

        & path {
            fill: var(--white);
        }

        & .logo__x {

            & path {
                fill: var(--primary);
            }
        }
    }
}

//Unique
.header {
    width: 100%;
    display: flex;
    justify-content: center;

    &__container {
        width: var(--width_container);
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0px;
    }

    &__logo {
        width: 130px;
        height: 22px;
        margin-right: 60px;
    }

    &__list {
        display: flex;
        flex-flow: row nowrap;
        column-gap: 40px;
    }

    &__link {
        color: var(--grey10_29);
        font-weight: 700;
        line-height: 25.6px;
    }

    &__contacts {
        margin-left: 172px;
    }
}

.contacts {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 36px;
    padding: 2px 0px;

    &__item {
        display: flex;
        flex-flow: row nowrap;
        column-gap: 12px;
    }

    &__icon {
        width: 40px;
        height: 40px;
        margin-top: 4px;
    }

    &__info {
        display: flex;
        flex-flow: column nowrap;
    }

    &__text-header {
        font-size: 14px;
        font-weight: 700;
        color: var(--grey10_29);
        line-height: 21px;
    }

    &__text {
        font-size: 18px;
        color: hsl(227, 19%, 15%);
        line-height: 27px;
    }
}

.slider {
    width: 100%;
    height: 988px;
    position: relative;

    &__list {
        width: 100%;
        background-color: var(--grey19_15);
        overflow-x: hidden;
        height: inherit;
        display: flex;
        flex-flow: row nowrap;
        gap: 0px;
        scroll-behavior: smooth;
    }

    &__item {
        flex-shrink: 0;
        width: inherit;
        margin: 0px;
        padding: 0px;
        position: relative;
        object-fit: cover;
    }

    &__item-background {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__content {
        position: absolute;
        left: 345px;
        top: 220px;
    }

    &__text-header {
        font-size: 72px;
        font-weight: 700;
        line-height: 93.6px;
        margin: 0px;
        padding: 0px;
        color: var(--white);

        & span {
            color: var(--primary);
        }
    }

    &__text {
        font-size: 20px;
        line-height: 30px;
        color: var(--white);
        margin: 24px 0px 60px;
    }

    &__button {
        margin-right: 24px;
        font-size: 16px;
        font-weight: 700;
        line-height: 52px;
        padding: 0px 40px;
    }

    &__numeration {
        position: absolute;
        width: 724px;
        left: 345px;
        bottom: 120px;
        display: flex;
        flex-flow: row nowrap;
        column-gap: 4px;
    }

    &__number {
        border-bottom: 2px solid var(--white);
        color: var(--white);
        font-size: 28px;
        font-weight: 700;
        line-height: 42px;
        width: 178px;
        height: 54px;
        opacity: 0.6;

        &_current {
            opacity: 1;
        }
    }

    &__controller {
        position: absolute;
        top: 50%;
        left: 32px;
        background-color: var(--white);
        transform: translateY(-50%);
        opacity: 0.5;

        &:hover {
            opacity: 0.75;
            background-color: var(--white);

            & svg {
                transform: translate(-50%, -50%) scale(1.25);
            }
        }

        &:active {
            opacity: 1;

            & svg {
                transform: translate(-50%, -50%);
                fill: var(--grey10_29);
            }
        }
    }

    &__controller_right {
        left: auto;
        right: 32px;

        &:hover {
            opacity: 0.75;
            background-color: var(--white);

            & svg {
                transform: translate(-50%, -50%) rotateZ(180deg) scale(1.25);
            }
        }

        &:active {
            opacity: 1;

            & svg {
                fill: var(--grey10_29);
                transform: translate(-50%, -50%) rotateZ(180deg);
            }
        }
    }
}

.bureau-cores {
    width: 100%;
    height: 1600px;
    padding-top: 120px;
    box-sizing: border-box;

    &__text-header {
        margin: 0px 0px 24px;
    }

    &__text {
        font-size: 18px;
        line-height: 27px;
        color: var(--grey3_49);
        margin: 0px 0px 60px;
    }

    &__video {
        width: inherit;
        height: 500px;
        margin: 0px 0px 180px;
    }

    &__list {
        width: inherit;
        display: flex;
        flex-flow: row nowrap;
        column-gap: 94px;
        margin: 0px 0px 120px;
    }

    &__item {
        text-align: center;
    }

    &__hr {
        width: 2px;
        height: inherit;
        background: radial-gradient(circle at 50% 50%,
                hsla(230, 4%, 86%, 1) 0%,
                hsla(230, 4%, 86%, 0.5) 50%,
                hsla(220, 4%, 86%, 0) 100%);
    }

    &__text-core-header {
        display: block;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        color: var(--grey19_15);
        margin-bottom: 8px;
    }

    &__text-core {
        line-height: 25.6px;
        color: var(--grey3_49);
    }

    &__icon {
        width: 48px;
        height: 48px;
        fill: var(--primary);
        margin-bottom: 24px;
    }

    &__contact-us {
        position: relative;
        z-index: 1;
        width: inherit;
        height: 243px;
    }

    &__form-text-header {
        margin: 48px 0px 32px;
    }

    &__form-container {
        flex-flow: row nowrap;
        justify-content: center;
        align-items: flex-end;
        column-gap: 24px;
    }

    &__form-input-text {
        width: var(--width-input);

        &_long {
            width: var(--width-input-long);
        }
    }
}

.services {
    width: 100%;
    height: 880px;

    &__background {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    &__container {
        padding: 212px 0px 0px;
    }

    &__text-header {
        margin-bottom: 24px;
    }

    &__text {
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 60px;
    }

    &__list {
        width: inherit;
        height: 285px;
        column-gap: 30px;
        margin-bottom: 80px;
    }

    &__icon {
        width: 52px;
        height: 52px;
        fill: var(--primary);
        transition: fill 0.33s;
    }

    &__bg-image {
        position: absolute;
        width: inherit;
        height: auto;
        opacity: 0;
        transition: opacity 0.66s;
    }

    &__item {
        width: 285px;
        height: inherit;
        row-gap: 24px;
        cursor: pointer;

        & span {
            font-size: 20px;
            font-weight: 700;
            line-height: 30px;
            color: var(--grey19_15);
            transition: color 0.33s;
        }

        &:hover {
            box-shadow: 0px 4px 4px -4px hsla(227, 19%, 15%, 0.05),
                0px 12px 10px -6px hsla(227, 19%, 15%, 0.08),
                0px 26px 24px -10px hsla(227, 19%, 15%, 0.1),
                0px 60px 80px -20px hsla(227, 19%, 15%, 0.16);


            &::after {
                content: "";
                width: inherit;
                height: inherit;
                position: absolute;
                display: inline-block;
                background-color: var(--grey19_15);
                opacity: 0.6;
            }

            & img {
                opacity: 1;
            }

            & svg {
                z-index: 1;
                fill: var(--white);
            }

            & span {
                z-index: 1;
                color: var(--white);
            }
        }
    }
}

.more {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 40px;
    align-items: center;

    &__btn {
        padding: 0px 40px;
        line-height: 52px;
    }
}

.portfolio {
    padding: 120px 0px 0px;
    height: 992px;
    box-sizing: border-box;

    &__header-container {
        width: inherit;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 60px;
    }

    &__list {
        width: inherit;
        display: flex;
        flex-flow: row nowrap;
        column-gap: 30px;
        margin-bottom: 80px;
    }

    &__label {
        width: inherit;
        background-color: var(--white);
        position: absolute;
        bottom: 0px;
        height: 95px;
        box-sizing: border-box;
        padding: 16px 0px 0px;
        text-align: center;
        transition: all 0.66s ease-in;
    }

    &__text-header {
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        color: var(--grey19_15);
    }

    &__text {
        font-size: 14px;
        line-height: 21px;
        color: var(--grey3_49);
    }

    &__view-button {
        font-size: 14px;
        line-height: 44px;
        padding: 0px 32px;
        margin-top: 24px;
        text-align: center;
        visibility: hidden;
    }

    &__item {
        position: relative;
        width: 390px;
        height: 440px;
        border-radius: 4px;
        box-shadow: 0px 4px 4px -4px hsla(227, 19%, 15%, 0.03),
            0px 12px 10px -6px hsla(229, 6%, 63%, 0.04),
            0px 30px 24px -10px hsla(229, 6%, 63%, 0.05),
            0px 80px 80px -20px hsla(229, 6%, 63%, 0.08);

        &_active {

            & div {
                height: 163px;
            }

            & button {
                animation: expandPortfolioItem 0.66s ease-in;
                visibility: visible;
            }
        }
    }
}

.partners {
    background-color: hsl(220, 11%, 96%);
    height: 934px;
    box-sizing: border-box;
    padding: 80px 0px 0px;

    &__text-header {
        margin-bottom: 60px;
    }

    &__logos-list {
        width: inherit;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin-bottom: 170px;
    }

    &__clients {
        width: inherit;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    &__comments-container {
        width: 600px;
        position: relative;
        overflow-x: hidden;
        align-self: flex-start;
    }

    &__clients-header {
        margin-bottom: 60px;
    }

    &__comments-list {
        width: inherit;
        display: flex;
        flex-flow: row nowrap;
        overflow-x: hidden;
    }

    &__comments-item {
        width: 100%;
        flex-shrink: 0;
    }

    &__ava {
        border-radius: 50%;
        margin-bottom: 24px;
    }

    &__commentary {
        line-height: 25.6px;
        color: var(--grey10_29);
        margin-bottom: 24px;
    }

    &__person {
        font-weight: 700;
        line-height: 25.6px;
        color: var(--grey19_15);
    }

    &__person-position {
        font-size: 14px;
        line-height: 21px;
        color: var(--grey3_49);
    }

    &__controller {
        position: absolute;
        display: flex;
        flex-flow: row nowrap;
        column-gap: 24px;
        bottom: 0px;
        right: 0px;
    }

    &__photo {
        width: var(--width-secondary);
        border-radius: 4px;
    }
}

.facts {
    height: 1581px;
    position: relative;
    overflow: hidden;
    padding: 180px 0px 0px;
    box-sizing: border-box;

    &__background {
        position: absolute;
        top: -345px;
        width: 571px;
        height: 1369px;
    }

    &__text-header {
        margin-bottom: 60px;
    }

    &__diagrams-list {
        width: inherit;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        column-gap: 48px;
        margin-bottom: 180px;
    }

    &__diagrams-item {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    &__diagram {
        margin-bottom: 20px;
    }

    &__diagram-text {
        font-size: 14px;
        line-height: 21px;
        color: var(--grey19_15);
    }

    &__news {
        width: inherit;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin-bottom: 80px;
    }

    &__news-item {
        display: inline-block;
        width: var(--width-secondary);
        border-radius: 4px;
        box-shadow: 0px 4px 4px -4px hsla(227, 19%, 15%, 0.03),
            0px 12px 10px -6px hsla(229, 6%, 63%, 0.04),
            0px 30px 24px -10px hsla(229, 6%, 63%, 0.05),
            0px 80px 80px -20px hsla(229, 6%, 63%, 0.08);

        &_big {
            width: var(--width-primary);
        }
    }

    &__news-img {
        width: inherit;
    }

    &__news-label {
        width: inherit;
        box-sizing: border-box;
        padding: 24px;
    }

    &__news-label-header {
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        color: var(--grey19_15);
        margin-bottom: 12px;
    }

    &__news-meta-data {
        font-size: 14px;
        line-height: 21px;
        color: var(--grey3_49);
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        column-gap: 12px;
    }

    & .v-line {
        border-left: 1px solid var(--grey3_49);
        height: 12px;
    }

    &__news-comments-logo {
        width: 16px;
        height: 16px;
        fill: var(--grey3_49);
        vertical-align: middle;
    }

    &__news-text {
        line-height: 25.6px;
        color: var(--grey10_29);
        margin-top: 16px;
    }

    &__news-small-container {
        display: flex;
        flex-flow: column nowrap;
        row-gap: 30px;
    }
}

.request {
    height: 826px;
    position: relative;

    &__background {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    &__container {
        align-items: flex-end;
        padding: 80px 0px 0px;
    }

    &__form {
        width: var(--width-secondary);
        border: 1px solid var(--grey18_91);
        box-sizing: border-box;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }

    &__form-text-header {
        margin: 48px 0px 24px;
    }

    &__form-container {
        width: var(--width-input-long);
        flex-flow: column nowrap;
        align-items: center;
        row-gap: 20px;
        margin: 0px auto 48px;
    }

    &__form-item {
        width: inherit;
        display: flex;
        flex-flow: column nowrap;
        row-gap: 8px;
    }

    &__checkbox-container {
        display: flex;
        flex-flow: row nowrap;

        & input {
            flex-shrink: 0;
            margin-right: 12px;
        }

        & label {
            cursor: pointer;
        }
    }
}

.footer {
    height: 566px;
    background-color: var(--grey19_15);
    box-sizing: border-box;
    padding: 80px 0px;

    //Container for description paragraph and subscription form
    &__general-container {
        //General info
        width: inherit;
        display: flex;
        justify-content: space-between;
        margin-bottom: 49px;
    }

    &__general {
        width: var(--width-secondary);
    }

    &__general-header {
        margin-bottom: 24px;
    }

    &__logo {
        width: 142px;
        height: 24px;
    }

    &__socials-list {
        vertical-align: bottom;
        display: inline-flex;
        flex-flow: row nowrap;
        column-gap: 16px;
        margin-left: 60px;
    }

    &__socials-icon {
        width: 24px;
        height: 24px;
        fill: var(--white06);
    }

    &__general-text {
        font-size: 14px;
        line-height: 21px;
        color: var(--white06);
    }

    &__form {
        //Subscription form
        background-color: transparent;
        width: var(--width-secondary);
        box-shadow: none;
    }

    &__form-text-header {
        color: var(--white);
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        margin-bottom: 24px;
    }

    &__form-container {
        flex-flow: row nowrap;
        align-items: center;
        width: inherit;
        margin-bottom: 16px;
    }

    &__form-input-text {
        background-color: var(--white012);
        color: var(--white06);
        border: 1px solid var(--white02);
        width: 364px;
    }

    &__form-submit {
        border-radius: 0px 4px 4px 0px;
        padding: 0px 24px;
    }

    &__form-disclaimer {
        font-size: 12px;
        line-height: 18px;
        color: var(--white06);
    }

    //Container for lists of links
    &__lists-container {
        width: inherit;
        display: flex;
        flex-flow: row nowrap;
        column-gap: 125px;
        margin-bottom: 60px;
    }

    &__list-header {
        line-height: 24px;
        letter-spacing: 1px;
        color: var(--white);
        text-transform: uppercase;
    }

    &__list-links {
        display: flex;
        flex-flow: column nowrap;
        row-gap: 4px;
    }

    &__list-item {
        color: var(--white06);
        line-height: 25.6px;
    }

    &__list-item-span {
        color: var(--white);
    }

    // Rights
    &__rights {
        width: inherit;
        color: var(--white);
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__rights-text {
        vertical-align: middle;
        font-size: 12px;
        line-height: 18px;
    }

    &__rights-heart-text {
        width: 16px;
        height: 16px;
        fill: var(--primary);
        vertical-align: middle;
    }

    &__go-to-top-text {
        text-transform: uppercase;
        font-size: 14px;
        line-height: 21px;
        margin-right: 16px;
        vertical-align: bottom;
    }

    &__go-to-top-button {
        padding: 8px;
        background-color: var(--primary);
        border-radius: 4px;
        vertical-align: bottom;

        & svg {
            fill: var(--white);
        }

        &:active {

            & svg {
                fill: var(--grey19_15);
            }
        }
    }
}

//Animations
@keyframes expandPortfolioItem {
    0% {
        visibility: visible;
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}